/*
 * Allwinner Technology CO., Ltd.
 */

/dts-v1/;

#include "sun8iw20p1.dtsi"

/{
	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
		awlink0_rx_buffer: awlink0_rx_buffer@420c0000 {
			reg = <0x0 0x420c0000 0x0 0x00020000>;
			no-map;
		};
		awlink0_tx_buffer: awlink0_tx_buffer@420e0000 {
			reg = <0x0 0x420e0000 0x0 0x00010000>;
			no-map;
		};
		awlink0_debug_buffer: awlink0_debug_buffer@420f0000 {
			reg = <0x0 0x420f0000 0x0 0x00010000>;
			no-map;
		};

		/* dsp0 */
		dsp0ddr: dsp0ddr@42000000 {
			reg = <0x0 0x42000000 0x0 0x00100000>;
			no-map;
		};

		dsp0_rpbuf_reserved: dsp0_rpbuf@42244000 {
			compatible = "shared-dma-pool";
			no-map;
			reg = <0x0 0x42244000 0x0 0x8000>;
		};

		/*
		 * The name should be "vdev%dbuffer".
		 * Its size should be not less than
		 *     RPMSG_BUF_SIZE * (num of buffers in a vring) * 2
		 *   = 512 * (num of buffers in a vring) * 2
		 */
		vdev0buffer: vdev0buffer@42200000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0x42200000 0x0 0x40000>;
			no-map;
		};

		/*
		 * The name should be "vdev%dvring%d".
		 * The size of each should be not less than
		 *     PAGE_ALIGN(vring_size(num, align))
		 *   = PAGE_ALIGN(16 * num + 6 + 2 * num + (pads for align) + 6 + 8 * num)
		 *
		 * (Please refer to the vring layout in include/uapi/linux/virtio_ring.h)
		 */
		vdev0vring0: vdev0vring0@42240000 {
			reg = <0x0 0x42240000 0x0 0x2000>;
			no-map;
		};
		vdev0vring1: vdev0vring1@42242000 {
			reg = <0x0 0x42242000 0x0 0x2000>;
			no-map;
		};

		/*
		* dsp ram addr
		*/
		dsp0dram: dsp0dram@400000 {
			reg = <0x0 0x400000 0x0 0x10000>;
			no-map;
		};
		dsp0iram0: dsp0iram0@420000 {
			reg = <0x0 0x420000 0x0 0x8000>;
			no-map;
		};
		dsp0iram1: dsp0iram1@440000 {
			reg = <0x0 0x440000 0x0 0x8000>;
			no-map;
		};

		/* c906 */
		c906_ddr: c906_ddr@42300000 {
			reg = <0x0 0x42300000 0x0 0x00600000>;
			no-map;
		};

		/*
		 * The name should be "vdev%dbuffer".
		 * Its size should be not less than
		 *     RPMSG_BUF_SIZE * (num of buffers in a vring) * 2
		 *   = 512 * (num of buffers in a vring) * 2
		 */
		rv_vdev0buffer: vdev0buffer@42900000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0x42900000 0x0 0x40000>;
			no-map;
		};

		/*
		 * The name should be "vdev%dvring%d".
		 * The size of each should be not less than
		 *     PAGE_ALIGN(vring_size(num, align))
		 *   = PAGE_ALIGN(16 * num + 6 + 2 * num + (pads for align) + 6 + 8 * num)
		 *
		 * (Please refer to the vring layout in include/uapi/linux/virtio_ring.h)
		 */
		rv_vdev0vring0: vdev0vring0@42940000 {
			reg = <0x0 0x42940000 0x0 0x2000>;
			no-map;
		};
		rv_vdev0vring1: vdev0vring1@42942000 {
			reg = <0x0 0x42942000 0x0 0x2000>;
			no-map;
		};

		c906_mem_fw: c906_mem_fw@45000000 {
			reg = <0x0 0x45000000 0x0 0x00600000>;
		};
	};

	rpbuf_controller0: rpbuf_controller@0 {
		compatible = "allwinner,rpbuf-controller";
		remoteproc = <&dsp0_rproc>;
		ctrl_id = <0>;	/* index of /dev/rpbuf_ctrl */
		//iommus = <&mmu_aw 5 1>;
		memory-region = <&dsp0_rpbuf_reserved>;
		status = "okay";
	};

	rpbuf_controller1: rpbuf_controller@1 {
		compatible = "allwinner,rpbuf-controller";
		remoteproc = <&c906_rproc>;
		ctrl_id = <1>;  /* index of /dev/rpbuf_ctrl */
		/*iommus = <&mmu_aw 5 1>;*/
		/* memory-region = <&c906_rpbuf_reserved>; */
		status = "disabled";
	};

	rpbuf_sample0: rpbuf_sample@0 {
		compatible = "allwinner,rpbuf-sample";
		rpbuf = <&rpbuf_controller0>;
		status = "okay";
	};

	rpbuf_sample1: rpbuf_sample@1 {
		compatible = "allwinner,rpbuf-sample";
		rpbuf = <&rpbuf_controller1>;
		status = "disabled";
	};

	rpmsg_heartbeat: rpmsg_heartbeat@0 {
		compatible = "allwinner,sunxi-rpmsg-heartbeat";
		status = "okay";
	};

	c906_rproc: c906_rproc@0 {
		compatible = "allwinner,c906-rproc";
		clock-frequency = <800000000>;
		clocks = <&ccu CLK_PLL_PERIPH0_800M>, <&ccu CLK_RISCV>, <&ccu CLK_BUS_RISCV_CFG>, <&ccu CLK_RISCV_RST>, <&ccu CLK_BUS_RISCV>;
		clock-names = "pll", "mod", "cfg", "riscv-rst", "riscv-gate";
		resets = <&ccu RST_BUS_RISCV_CFG>, <&ccu RST_BUS_MSGBOX2>;
		reset-names = "cfg-rst", "msg-rst";
		memory-region = <&c906_ddr>, <&rv_vdev0buffer>, <&rv_vdev0vring0>, <&rv_vdev0vring1>;
		fw-region = <&c906_mem_fw>;
		//auto-boot;
		reg = <0x0 0x06010000 0x0 0x1000>;
		reg-names = "c906-cfg";
		mboxes = <&msgbox 4>;
		mbox-names = "arm-kick";
		memory-mappings =
			/* DA 	         len         PA */
			/* DDR for c906  */
			< 0x40000000 0x10000000 0x40000000 >;
		firmware-name = "amp_rv0.bin";
		status = "okay";
	};

	dsp0_rproc: dsp_rproc@0 {
		compatible = "allwinner,hifi4-rproc", "simple-bus";
		clock-frequency = <600000000>;
		clocks = <&ccu CLK_PLL_PERIPH0_2X>, <&ccu CLK_DSP>, <&ccu CLK_BUS_DSP_CFG>, <&r_ccu CLK_R_AHB>;
		clock-names = "pll", "mod", "cfg", "ahbs";
		resets = <&ccu RST_BUS_DSP>, <&ccu RST_BUS_DSP_CFG>, <&ccu RST_BUS_DSP_DBG>, <&ccu RST_BUS_MSGBOX1>;
		reset-names = "mod-rst", "cfg-rst", "dbg-rst", "msg-rst";
		reg = <0x0 0x03000008 0x0 0x04>,
		      <0x0 0x01700000 0x0 0x40>;
		reg-names = "sram-for-cpux", "hifi4-cfg";
		mboxes = <&msgbox 0>;
		mbox-names = "arm-kick";
		memory-region = <&dsp0ddr>, <&vdev0buffer>, <&vdev0vring0>, <&vdev0vring1>,
				<&dsp0dram>, <&dsp0iram0>, <&dsp0iram1>;
		memory-mappings =
			/* < DA		len		PA >	*/
			/* local SRAM via external bus */
			< 0x28000	0x20000		0x28000 >,
			/* local SRAM via internal bus */
			< 0x400000	0x10000		0x400000 >,
			< 0x420000	0x8000		0x420000 >,
			< 0x440000	0x8000		0x440000 >,
			/* DDR front 256MB */
			< 0x10000000	0x10000000	0x40000000 >,
			/* local SRAM via internal bus */
			< 0x20028000	0x10000		0x400000 >,
			< 0x20038000	0x8000		0x420000 >,
			< 0x20040000	0x8000		0x440000 >,
			/* DDR front 256MB */
			< 0x30000000	0x10000000	0x40000000 >,
			/* DDR front 1GB */
			< 0x40000000	0x40000000	0x40000000 >,
			/* DDR front 1GB */
			< 0x80000000	0x40000000	0x40000000 >,
			/* DDR front 1GB */
			< 0xC0000000	0x40000000	0x40000000 >;

		id = <0>;
		status = "okay";
	};

	reg_vdd_cpu: vdd-cpu {
		compatible = "regulator-fixed";
		regulator-name = "vdd_cpu";
		regulator-min-microvolt = <950000>;
		regulator-max-microvolt = <950000>;
		regulator-always-on;
		regulator-boot-on;
		status = "okay";
	};

	reg_usb1_vbus: usb1-vbus {
		compatible = "regulator-fixed";
		regulator-name = "usb1-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-enable-ramp-delay = <1000>;
		gpio = <&pio PB 3 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	awlink0: awlink@0x0{
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "allwinner,sun8i-awlink";
		device_type = "awlink0";
		awlink-pin = <0>;
		id = <0>;
		mboxes = <&msgbox 2>, <&msgbox 3>;
		mbox-names = "arm-mbox-tx", "arm-mbox-rx";
		memory-region = <&awlink0_rx_buffer>, <&awlink0_tx_buffer>, <&awlink0_debug_buffer>;
		status = "okay";
	};
};

&cpu_opp_table {
	opp@480000000 {
		opp-hz = /bits/ 64 <480000000>;
		clock-latency-ns = <244144>;
		opp-microvolt-a0 = <950000>;
		opp-microvolt-a1 = <950000>;
		opp-microvolt-a2 = <950000>;

		opp-microvolt-b0 = <950000>;
		opp-supported-hw = <0x3>;
	};

	opp@720000000 {
		opp-hz = /bits/ 64 <720000000>;
		clock-latency-ns = <244144>;
		opp-microvolt-a0 = <950000>;
		opp-microvolt-a1 = <950000>;
		opp-microvolt-a2 = <950000>;

		opp-microvolt-b0 = <950000>;
		opp-supported-hw = <0x3>;
	};

	opp@912000000 {
		opp-hz = /bits/ 64 <912000000>;
		clock-latency-ns = <244144>;
		opp-microvolt-a0 = <950000>;
		opp-microvolt-a1 = <950000>;
		opp-microvolt-a2 = <950000>;

		opp-microvolt-b0 = <950000>;
		opp-supported-hw = <0x3>;
	};

	opp@1008000000 {
		opp-hz = /bits/ 64 <1008000000>;
		clock-latency-ns = <244144>;
		opp-microvolt-a0 = <1000000>;
		opp-microvolt-a1 = <950000>;
		opp-microvolt-a2 = <950000>;

		opp-microvolt-b0 = <950000>;
		opp-supported-hw = <0x3>;
	};

	opp@1104000000 {
		opp-supported-hw = <0x0>;
	};

	opp@1200000000 {
		opp-supported-hw = <0x0>;
	};
};

&cpu0 {
	cpu-supply = <&reg_vdd_cpu>;
};

&pio {
	uart0_pins_a: uart0_pins@0 {  /* For EVB1 board */
		pins = "PG08", "PG09";
		function = "uart0";
	};

	uart0_pins_b: uart0_pins@1 {  /* For EVB1 board */
		pins = "PG08", "PG09";
		function = "gpio_in";
	};

	uart1_pins_a: uart1_pins@0 {  /* For EVB1 board */
		pins = "PG6", "PG7", "PG8", "PG9";
		function = "uart1";
		drive-strength = <10>;
		bias-pull-up;
	};

	uart1_pins_b: uart1_pins@1 {  /* For EVB1 board */
		pins = "PG6", "PG7", "PG8", "PG9";
		function = "gpio_in";
	};

	uart2_pins_a: uart2_pins@0 {  /* For EVB1 board */
		pins = "PE2", "PE3";
		function = "uart2";
		drive-strength = <10>;
		bias-pull-up;
	};

	uart2_pins_b: uart2_pins@1 {  /* For EVB1 board */
		pins = "PE2", "PE3";
		function = "gpio_in";
	};

	uart3_pins_a: uart3_pins@0 {  /* For t113_evb */
		pins = "PG8", "PG9";
		function = "uart3";
		drive-strength = <10>;
		bias-pull-up;
	};

	uart3_pins_b: uart3_pins@1 {  /* For t113_evb */
		pins = "PG8", "PG9";
		function = "gpio_in";
	};

	uart4_pins_a: uart4_pins@0 {  /* For t113_evb */
		pins = "PB2", "PB3";
		function = "uart4";
		drive-strength = <10>;
		bias-pull-up;
	};

	uart4_pins_b: uart4_pins@1 {  /* For t113_evb */
		pins = "PB2", "PB3";
		function = "gpio_in";
	};

	uart5_pins_a: uart5_pins@0 {  /* For t113_evb */
		pins = "PE6", "PE7";
		function = "uart5";
		drive-strength = <10>;
		bias-pull-up;
	};

	uart5_pins_b: uart5_pins@1 {  /* For t113_evb */
		pins = "PE6", "PE7";
		function = "gpio_in";
	};

	twi0_pins_default: twi0@0 {
		pins = "PB2", "PB3";
		function = "twi0";
		drive-strength = <10>;
		bias-pull-up;
	};

	twi0_pins_sleep: twi0@1 {
		pins = "PB2", "PB3";
		function = "gpio_in";
	};

	twi1_pins_default: twi1@0 {
		pins = "PE0", "PE1";
		function = "twi1";
		drive-strength = <10>;
		bias-pull-up;
	};

	twi1_pins_sleep: twi1@1 {
		pins = "PE0", "PE1";
		function = "gpio_in";
	};

	twi2_pins_default: twi2@0 {
		pins = "PG14", "PG15";
		function = "twi2";
		drive-strength = <10>;
		bias-pull-up;
	};

	twi2_pins_sleep: twi2@1 {
		pins = "PG14", "PG15";
		function = "gpio_in";
	};

	twi3_pins_default: twi3@0 {
		pins = "PG10", "PG11";
		function = "twi3";
		drive-strength = <10>;
		bias-pull-up;
	};

	twi3_pins_sleep: twi3@1 {
		pins = "PG10", "PG11";
		function = "gpio_in";
	};

	pwm3_pin_active: pwm3@0 {
		pins = "PB0";
		function = "pwm3";
		drive-strength = <10>;
		bias-pull-up;
	};

	pwm3_pin_sleep: pwm3@1 {
		pins = "PB0";
		function = "gpio_in";
		bias-pull-down;
	};

	pwm7_pin_active: pwm7@0 {
		pins = "PD22";
		function = "pwm7";
		drive-strength = <10>;
		bias-pull-up;
	};

	pwm7_pin_sleep: pwm7@1 {
		pins = "PD22";
		function = "gpio_in";
		bias-pull-down;
	};

	spi0_pins_a: spi0@0 {
		pins = "PC2", "PC4", "PC5";
		function = "spi0";
		drive-strength = <20>;
	};

	spi0_pins_b: spi0@1 {
		pins = "PC3", "PC6", "PC7";
		function = "spi0";
		drive-strength = <20>;
		bias-pull-up;	/* only CS should be pulled up  */
	};

	spi0_pins_c: spi0@2 {
		pins = "PC2", "PC3", "PC4",
				"PC5", "PC6", "PC7";
		function = "gpio_in";
		drive-strength = <20>;
	};

	spi1_pins_a: spi1@0 {
		pins = "PB11", "PB10", "PB9","PB8", "PD15"; /*clk mosi miso hold wp*/
		function = "spi1";
		drive-strength = <10>;
	};

	spi1_pins_b: spi1@1 {
		pins = "PB12";
		function = "spi1";
		drive-strength = <10>;
		bias-pull-up;	/*only CS should be pulled up*/
	};

	spi1_pins_c: spi1@2 {
		pins = "PD15", "PB8", "PB9", "PB10","PB11", "PB12";
		function = "io_disabled";
		drive-strength = <10>;
	};

	gmac0_pins_default: gmac0@0 {
		allwinner,pins = "PE0", "PE1", "PE2", "PE3",
			"PE4", "PE5", "PE6", "PE7",
			"PE8", "PE9", "PE10";
		allwinner,function = "gmac0";
		allwinner,muxsel = <8>;
		allwinner,drive = <3>;
		allwinner,pull = <1>;
	};

	gmac0_pins_sleep: gmac0@1 {
		allwinner,pins = "PE0", "PE1", "PE2", "PE3",
			"PE4", "PE5", "PE6", "PE7",
			"PE8", "PE9", "PE10";
		allwinner,function = "gpio_in";
		allwinner,muxsel = <0>;
		allwinner,drive = <3>;
		allwinner,pull = <1>;
	};

	lvds0_pins_a: lvds0@0 {
		allwinner,pins  = "PD0", "PD1", "PD2", "PD3", "PD4", "PD5", "PD6", "PD7", "PD8", "PD9";
		allwinner,pname = "PD0", "PD1", "PD2", "PD3", "PD4", "PD5", "PD6", "PD7", "PD8", "PD9";
		allwinner,function = "lvds0";
		allwinner,muxsel = <3>;
		allwinner,drive = <3>;
		allwinner,pull = <0>;
	};

	lvds0_pins_b: lvds0@1 {
		allwinner,pins  = "PD0", "PD1", "PD2", "PD3", "PD4", "PD5", "PD6", "PD7", "PD8", "PD9";
		allwinner,pname = "PD0", "PD1", "PD2", "PD3", "PD4", "PD5", "PD6", "PD7", "PD8", "PD9";
		allwinner,function = "io_disabled";
		allwinner,muxsel = <7>;
		allwinner,drive = <3>;
		allwinner,pull = <0>;
	};

	rgb24_pins_a: rgb24@0 {
		allwinner,pins = "PB2", "PB3", "PD0", "PD1", "PD2", "PD3", "PD4", "PD5", \
			"PB4", "PB5", "PD6", "PD7", "PD8", "PD9", "PD10", "PD11", \
			"PB6", "PB7", "PD12", "PD13", "PD14", "PD15", "PD16", "PD17", \
			"PD18", "PD19", "PD20", "PD21";
		allwinner,pname = "lcdd0", "lcdd1", "lcdd2", "lcdd3", "lcdd4", "lcdd5", "lcdd6", "lcdd7", \
			"lcdd8", "lcdd9", "lcdd10", "lcdd11", "lcdd12", "lcdd13", "lcdd14", "lcdd15", \
			"lcdd16", "lcdd17", "lcdd18", "lcdd19", "lcdd20", "lcdd21", "lcdd22", "lcdd23", \
			"lcdclk", "lcdde", "lcdhsync", "lcdvsync";
		allwinner,function = "lcd0";
		allwinner,muxsel = <2>;
		allwinner,drive = <3>;
		allwinner,pull = <0>;
	};

	rgb24_pins_b: rgb24@1 {
		allwinner,pins = "PB2", "PB3", "PD0", "PD1", "PD2", "PD3", "PD4", "PD5", \
			"PB4", "PB5", "PD6", "PD7", "PD8", "PD9", "PD10", "PD11", \
			"PB6", "PB7", "PD12", "PD13", "PD14", "PD15", "PD16", "PD17", \
			"PD18", "PD19", "PD20", "PD21";
		allwinner,pname = "lcdd0", "lcdd1", "lcdd2", "lcdd3", "lcdd4", "lcdd5", "lcdd6", "lcdd7", \
			"lcdd8", "lcdd9", "lcdd10", "lcdd11", "lcdd12", "lcdd13", "lcdd14", "lcdd15", \
			"lcdd16", "lcdd17", "lcdd18", "lcdd19", "lcdd20", "lcdd21", "lcdd22", "lcdd23", \
			"lcdclk", "lcdde", "lcdhsync", "lcdvsync";
		allwinner,function = "io_disabled";
		allwinner,muxsel = <7>;
		allwinner,drive = <3>;
		allwinner,pull = <0>;
	};

	dsi4line_pins_a: dsi4lane@0 {
		allwinner,pins = "PD0", "PD1", "PD2", "PD3", "PD4", "PD5", "PD6", "PD7", "PD8", "PD9";
		allwinner,pname = "PD0", "PD1", "PD2", "PD3", "PD4", "PD5", "PD6", "PD7", "PD8", "PD9";
		allwinner,function = "dsi";
		allwinner,muxsel = <4>;
		allwinner,drive = <3>;
		allwinner,pull = <0>;
	};

	dsi4line_pins_b: dsi4lane@1 {
		allwinner,pins = "PD0", "PD1", "PD2", "PD3", "PD4", "PD5", "PD6", "PD7", "PD8", "PD9";
		allwinner,pname = "PD0", "PD1", "PD2", "PD3", "PD4", "PD5", "PD6", "PD7", "PD8", "PD9";
		allwinner,function = "io_disabled";
		allwinner,muxsel = <7>;
		allwinner,drive = <1>;
		allwinner,pull = <0>;
	};

	wlan_pins_a:wlan@0 {
		pins = "PG11";
		function = "clk_fanout1";
	};
};

&uart0 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&uart0_pins_a>;
	pinctrl-1 = <&uart0_pins_b>;
	status = "disabled";
};

&uart1 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&uart1_pins_a>;
	pinctrl-1 = <&uart1_pins_b>;
	status = "disabled";
};

&uart2 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&uart2_pins_a>;
	pinctrl-1 = <&uart2_pins_b>;
	status = "disabled";
};

&uart3 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&uart3_pins_a>;
	pinctrl-1 = <&uart3_pins_b>;
	status = "okay";
};

&uart4 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&uart4_pins_a>;
	pinctrl-1 = <&uart4_pins_b>;
	status = "disabled";
};

&uart5 {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&uart5_pins_a>;
	pinctrl-1 = <&uart5_pins_b>;
	status = "disabled";
};

&twi0 {
	clock-frequency = <400000>;
	pinctrl-0 = <&twi0_pins_default>;
	pinctrl-1 = <&twi0_pins_sleep>;
	pinctrl-names = "default", "sleep";
	twi_drv_used = <1>;
	status = "okay";
};

&twi1 {
	clock-frequency = <400000>;
	pinctrl-0 = <&twi1_pins_default>;
	pinctrl-1 = <&twi1_pins_sleep>;
	pinctrl-names = "default", "sleep";
	twi_drv_used = <1>;
	status = "disabled";
};

&twi2 {
	clock-frequency = <400000>;
	pinctrl-0 = <&twi2_pins_default>;
	pinctrl-1 = <&twi2_pins_sleep>;
	pinctrl-names = "default", "sleep";
	twi_drv_used = <1>;
	status = "okay";
};

&twi3 {
	clock-frequency = <400000>;
	pinctrl-0 = <&twi3_pins_default>;
	pinctrl-1 = <&twi3_pins_sleep>;
	pinctrl-names = "default", "sleep";
	twi_drv_used = <1>;
	status = "okay";
};

&pwm0_3 {
	pinctrl-names = "active", "sleep";
	pinctrl-0 = <&pwm3_pin_active>;
	pinctrl-1 = <&pwm3_pin_sleep>;
	status = "okay";
};

&pwm0_7 {
	pinctrl-names = "active", "sleep";
	pinctrl-0 = <&pwm7_pin_active>;
	pinctrl-1 = <&pwm7_pin_sleep>;
	status = "okay";
};

&rtp {
	allwinner,tp-sensitive-adjust = <0x2>;
	allwinner,filter-type = <0x3>;
	status = "disabled";
};

&spi0 {
	clock-frequency = <100000000>;
	pinctrl-0 = <&spi0_pins_a &spi0_pins_b>;
	pinctrl-1 = <&spi0_pins_c>;
	pinctrl-names = "default", "sleep";
	sunxi,spi-bus-mode = <SUNXI_SPI_BUS_NOR>;
	sunxi,spi-cs-mode = <SUNXI_SPI_CS_SOFT>;
	status = "okay";
	/* if use spi-nand, pls open spi status and spi-nand status
	   if use spi-nor, pls open spi status and cloce spi-nand status */
	spi_board0 {
                device_type = "spi_board0";
                compatible = "spi-nor";
                spi-max-frequency = <0x5F5E100>;
                m25p,fast-read = <1>;
                /*individual_lock;*/
                reg = <0x0>;
                spi-rx-bus-width=<0x04>;
                spi-tx-bus-width=<0x04>;
                status= "disabled";
        };

	spi-nand@0 {
		compatible = "spi-nand";
		spi-max-frequency = <0x5F5E100>;
		reg = <0x0>;
		spi-rx-bus-width = <0x04>;
		spi-tx-bus-width = <0x04>;
		status = "disabled";
	};
};

&gmac0 {
	phy-mode = "rmii";
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&gmac0_pins_default>;
	pinctrl-1 = <&gmac0_pins_sleep>;
	sunxi,phy-clk-type = <0>;
	tx-delay = <7>;
	rx-delay = <31>;
	status = "okay";
};

&ve {
	status = "okay";
};

&sdc2 {
	non-removable;
	bus-width = <4>;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	no-sdio;
	no-sd;
	ctl-spec-caps = <0x328>;
	cap-mmc-highspeed;
	sunxi-power-save-mode;
	sunxi-dis-signal-vol-sw;
	mmc-bootpart-noacc;
	max-frequency = <150000000>;
	/*vmmc-supply = <&reg_dcdc1>;*/
	/*emmc io vol 3.3v*/
	/*vqmmc-supply = <&reg_aldo1>;*/
	/*emmc io vol 1.8v*/
	/*vqmmc-supply = <&reg_eldo1>;*/
	status = "disabled";
};

&sdc0 {
	bus-width = <4>;
	cd-gpios = <&pio PF 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
	/*non-removable;*/
	/*broken-cd;*/
	/*cd-inverted;*/
	/*data3-detect;*/
	/*card-pwr-gpios = <&pio PH 14 1 1 2 0xffffffff>;*/
	cd-used-24M;
	cap-sd-highspeed;
	/*sd-uhs-sdr50;*/
	/*sd-uhs-ddr50;*/
	/*sd-uhs-sdr104;*/
	no-sdio;
	no-mmc;
	sunxi-power-save-mode;
	sunxi-dis-signal-vol-sw;
	max-frequency = <50000000>;
	ctl-spec-caps = <0x428>;
	/*vmmc-supply = <&reg_dcdc1>;*/
	/*vqmmc33sw-supply = <&reg_dcdc1>;*/
	/*vdmmc33sw-supply = <&reg_dcdc1>;*/
	/*vqmmc18sw-supply = <&reg_eldo1>;*/
	/*vdmmc18sw-supply = <&reg_eldo1>;*/
	status = "okay";
};

&sdc1 {
	bus-width = <4>;
	no-mmc;
	no-sd;
	cap-sd-highspeed;
	/*sd-uhs-sdr12*/
	/*sd-uhs-sdr25;*/
	/*sd-uhs-sdr50;*/
	/*sd-uhs-ddr50;*/
	/*sd-uhs-sdr104;*/
	/*sunxi-power-save-mode;*/
	sunxi-dis-signal-vol-sw;
	cap-sdio-irq;
	keep-power-in-suspend;
	ignore-pm-notify;
	max-frequency = <50000000>;
	ctl-spec-caps = <0x428>;
	status = "okay";
};

/*
 *usb_port_type: usb mode. 0-device, 1-host, 2-otg.
 *usb_detect_type: usb hotplug detect mode. 0-none, 1-vbus/id detect, 2-id/dpdm detect.
 *usb_detect_mode: 0-thread scan, 1-id gpio interrupt.
 *usb_id_gpio: gpio for id detect.
 *usb_det_vbus_gpio: gpio for id detect. gpio or "axp_ctrl";
 *usb_wakeup_suspend：0-SUPER_STANDBY, 1-USB_STANDBY.
 */
&usbc0 {
	device_type = "usbc0";
	usb_port_type = <0>;
	usb_detect_type = <1>;
	usb_detect_mode = <0>;
	usb_id_gpio = <&pio PE 12 GPIO_ACTIVE_HIGH>;
	enable-active-high;
	usb_det_vbus_gpio = <&pio PE 12 GPIO_ACTIVE_HIGH>;
	usb_wakeup_suspend = <0>;
	usb_serial_unique = <0>;
	usb_serial_number = "20080411";
	rndis_wceis = <1>;
	status = "okay";
};

&udc {
	status = "okay";
};

&ehci0 {
	drvvbus-supply = <&reg_usb1_vbus>;
	status = "okay";
};

&ohci0 {
	drvvbus-supply = <&reg_usb1_vbus>;
	status = "okay";
};

&usbc1 {
	device_type = "usbc1";
	usb_regulator_io = "nocare";
	usb_wakeup_suspend = <0>;
	status = "okay";
};

&ehci1 {
	drvvbus-supply = <&reg_usb1_vbus>;
	status = "okay";
};

&ohci1 {
	drvvbus-supply = <&reg_usb1_vbus>;
	status = "okay";
};

&spi1 {
	clock-frequency = <100000000>;
	pinctrl-0 = <&spi1_pins_a &spi1_pins_b>;
	pinctrl-1 = <&spi1_pins_c>;
	pinctrl-names = "default", "sleep";
	sunxi,spi-bus-mode = <SUNXI_SPI_BUS_MASTER>;
	sunxi,spi-cs-mode = <SUNXI_SPI_CS_AUTO>;
	status = "disabled";
	spidev1@0 {
		compatible = "rohm,dh2228fv";
		spi-max-frequency = <10000000>;
		reg = <0x0>;
		spi-rx-bus-width = <0x1>;
		spi-tx-bus-width = <0x1>;
		status = "disabled";
	};
};

&disp {
	disp_init_enable         = <1>;
	disp_mode                = <0>;

	screen0_output_type      = <1>;
	screen0_output_mode      = <4>;

	screen1_output_type      = <1>;
	screen1_output_mode      = <4>;

	screen1_output_format    = <0>;
	screen1_output_bits      = <0>;
	screen1_output_eotf      = <4>;
	screen1_output_cs        = <257>;
	screen1_output_range     = <2>;
	screen1_output_scan      = <0>;
	screen1_output_aspect_ratio = <8>;

	dev0_output_type         = <1>;
	dev0_output_mode         = <4>;
	dev0_screen_id           = <0>;
	dev0_do_hpd              = <0>;

	dev1_output_type         = <4>;
	dev1_output_mode         = <10>;
	dev1_screen_id           = <1>;
	dev1_do_hpd              = <1>;

	def_output_dev           = <0>;

	fb_format                = <0>;
	fb_num                   = <1>;

	fb0_map                  = <0 1 0 16>;
	fb0_width                = <1024>;
	fb0_height               = <600>;

	fb1_map			 = <0 2 0 16>;
	fb1_width                = <300>;
	fb1_height               = <300>;

	chn_cfg_mode             = <1>;

	disp_para_zone           = <1>;
	/* VCC-LCD */
	/* dc1sw-supply = <&reg_dc1sw>; */
	/* VCC-DSI */
	/* eldo3-supply = <&reg_eldo3>; */
	/* VCC-PD */
	/* dcdc1-supply = <&reg_dcdc1>; */
};

&lcd0 {
	lcd_used            = <1>;

	lcd_driver_name     = "default_lcd";
	lcd_backlight       = <150>;
	lcd_if              = <3>;

	lcd_x               = <1024>;
	lcd_y               = <600>;
	lcd_width           = <150>;
	lcd_height          = <94>;
	lcd_dclk_freq       = <52>;

	lcd_pwm_used        = <1>;
	lcd_pwm_ch          = <7>;
	lcd_pwm_freq        = <50000>;
	lcd_pwm_pol         = <0>;
	lcd_pwm_max_limit   = <255>;

	lcd_hbp             = <160>;
	lcd_ht              = <1344>;
	lcd_hspw            = <60>;
	lcd_vbp             = <23>;
	lcd_vt              = <638>;
	lcd_vspw            = <10>;

	lcd_lvds_if         = <0>;
	lcd_lvds_colordepth = <0>;
	lcd_lvds_mode       = <0>;
	lcd_frm             = <1>;
	lcd_hv_clk_phase    = <0>;
	lcd_hv_sync_polarity= <0>;
	lcd_gamma_en        = <0>;
	lcd_bright_curve_en = <0>;
	lcd_cmap_en         = <0>;

	deu_mode            = <0>;
	lcdgamma4iep        = <22>;
	smart_color         = <90>;

	/*lcd_bl_en = <&pio PD 22 GPIO_ACTIVE_HIGH>;*/
	pinctrl-0 = <&lvds0_pins_a>;
	pinctrl-1 = <&lvds0_pins_b>;
};

/* audio dirver module start -> audio codec */
&codec {
	tx-hub-en;
	rx-sync-en;

	dac-vol		= <63>;		/* default value:63 range:0->63 */
	dacl-vol	= <160>;	/* default value:160 range:0->255 */
	dacr-vol	= <160>;	/* default value:160 range:0->255 */
	adc1-vol	= <160>;	/* default value:160 range:0->255 */
	adc2-vol	= <160>;	/* default value:160 range:0->255 */
	lineout-gain	= <31>;		/* default value:31 range:0->31 */
	hpout-gain	= <7>;		/* default value:7 range:0->7 */
	adc1-gain	= <31>;		/* default value:31 range:0->31 */
	adc2-gain	= <31>;		/* default value:31 range:0->31 */

	pa-pin-max	= <1>;
	pa-pin-0	= <&pio PE 11 GPIO_ACTIVE_HIGH>;
	pa-pin-level-0	= <1>;
	pa-pin-msleep-0	= <10>;

	status = "okay";
};

&codec_plat {
	status = "okay";
};

&codec_mach {
	status = "okay";
	soundcard-mach,cpu {
		sound-dai = <&codec_plat>;
	};
	soundcard-mach,codec {
		sound-dai = <&codec>;
	};
};

/* audio dirver module -> owa */
&owa_plat {
	/* pinctrl-used; */
	/* pinctrl-names	= "default","sleep"; */
	/* pinctrl-0	= <&owa_pins_a>; */
	/* pinctrl-1	= <&owa_pins_b>; */
	tx-hub-en;
	status		= "disabled";
};

&owa_mach {
	status		= "disabled";
	soundcard-mach,cpu {
		sound-dai = <&owa_plat>;
	};
	soundcard-mach,codec {
	};
};

/* audio dirver module -> DMIC */
&dmic_plat {
	rx-chmap	= <0x76543210>;
	data-vol	= <0xB0>;
	rxdelaytime	= <0>;
	/* pinctrl-used; */
	/* pinctrl-names	= "default","sleep"; */
	/* pinctrl-0	= <&dmic_pins_a>; */
	/* pinctrl-1	= <&dmic_pins_b>; */
	rx-sync-en;
	status		= "disabled";
};

&dmic_mach {
	status		= "disabled";
	soundcard-mach,cpu {
		sound-dai = <&dmic_plat>;
	};
	soundcard-mach,codec {
	};
};

/* audio dirver module -> I2S/PCM */
&i2s0_plat {
	tdm-num		= <0>;
	tx-pin		= <0>;
	rx-pin		= <0>;
	/* pinctrl-used;
	 * pinctrl-names	= "default","sleep";
	 * pinctrl-0	= <&i2s0_pins_a &i2s0_pins_c &i2s0_pins_d>;
	 * pinctrl-1	= <&i2s0_pins_b>;
	 */
	tx-hub-en;
	rx-sync-en;
	status		= "disabled";
};

&i2s0_mach {
	soundcard-mach,format		= "i2s";
	soundcard-mach,frame-master	= <&i2s0_cpu>;
	soundcard-mach,bitclock-master	= <&i2s0_cpu>;
	/* soundcard-mach,frame-inversion; */
	/* soundcard-mach,bitclock-inversion; */
	soundcard-mach,slot-num		= <2>;
	soundcard-mach,slot-width	= <32>;
	soundcard-mach,capture-only;
	status		= "disabled";
	i2s0_cpu: soundcard-mach,cpu {
		sound-dai = <&i2s0_plat>;
		/* note: pll freq = 24.576M or 22.5792M * pll-fs */
		soundcard-mach,pll-fs	= <1>;
		/* note:
		 * mclk freq = mclk-fs * 12.288M or 11.2896M	(when mclk-fp ture)
		 * mclk freq = mclk-fs * pcm rate		(when mclk-fp false)
		 */
		soundcard-mach,mclk-fp;
		soundcard-mach,mclk-fs	= <1>;
	};
	i2s0_codec: soundcard-mach,codec {
		soundcard-mach,pll-fs   = <1>;
	};
};

&i2s1_plat {
	tdm-num		= <1>;
	tx-pin		= <0>;
	rx-pin		= <0>;
	/* pinctrl-used;
	 * pinctrl-names= "default","sleep";
	 * pinctrl-0	= <&i2s1_pins_a &i2s1_pins_b &i2s1_pins_c>;
	 * pinctrl-1	= <&i2s1_pins_d>;
	 */
	tx-hub-en;
	rx-sync-en;
	status		= "disabled";
};

&i2s1_mach {
	soundcard-mach,format		= "i2s";
	soundcard-mach,frame-master	= <&i2s1_cpu>;
	soundcard-mach,bitclock-master	= <&i2s1_cpu>;
	/* soundcard-mach,frame-inversion; */
	/* soundcard-mach,bitclock-inversion; */
	soundcard-mach,slot-num		= <2>;
	soundcard-mach,slot-width	= <32>;
	status		= "disabled";
	i2s1_cpu: soundcard-mach,cpu {
		sound-dai = <&i2s1_plat>;
		soundcard-mach,pll-fs	= <1>;
		soundcard-mach,mclk-fs	= <0>;
	};
	i2s1_codec: soundcard-mach,codec {
	};
};

&i2s2_plat {
	tdm-num		= <2>;
	tx-pin		= <0>;
	rx-pin		= <0>;
	/* pinctrl-used;
	 * pinctrl-names= "default","sleep";
	 * pinctrl-0	= <&i2s2_pins_a &i2s2_pins_b>;
	 * pinctrl-1	= <&i2s2_pins_c>;
	 */
	tx-hub-en;
	rx-sync-en;
	/* dai-type = "hdmi"; */
	status		= "disabled";
};

&i2s2_mach {
	soundcard-mach,format		= "i2s";
	soundcard-mach,frame-master	= <&i2s2_codec>;
	soundcard-mach,bitclock-master	= <&i2s2_codec>;
	/* soundcard-mach,frame-inversion; */
	/* soundcard-mach,bitclock-inversion; */
	soundcard-mach,slot-num		= <2>;
	soundcard-mach,slot-width	= <32>;
	status		= "disabled";
	i2s2_cpu: soundcard-mach,cpu {
		sound-dai = <&i2s2_plat>;
		soundcard-mach,pll-fs	= <1>;
		soundcard-mach,mclk-fs	= <0>;
	};
	i2s2_codec: soundcard-mach,codec {
	};
};
/* audio dirver module end -> audio codec */

/*
&lcd0 {
	lcd_used            = <1>;
	lcd_driver_name     = "he0801a068";
	lcd_backlight       = <50>;
	lcd_if              = <4>;

	lcd_x               = <800>;
	lcd_y               = <1280>;
	lcd_width           = <52>;
	lcd_height          = <52>;
	lcd_dclk_freq       = <78>;

	lcd_pwm_used        = <1>;
	lcd_pwm_ch          = <3>;
	lcd_pwm_freq        = <50000>;
	lcd_pwm_pol         = <0>;
	lcd_pwm_max_limit   = <255>;

	lcd_hbp             = <149>;
	lcd_ht              = <978>;
	lcd_hspw            = <16>;
	lcd_vbp             = <7>;
	lcd_vt              = <1329>;
	lcd_vspw            = <5>;

	lcd_dsi_lane        = <4>;
	lcd_lvds_if         = <0>;
	lcd_lvds_colordepth = <1>;
	lcd_lvds_mode       = <0>;
	lcd_frm             = <0>;
	lcd_io_phase        = <0x0000>;
	lcd_gamma_en        = <0>;
	lcd_bright_curve_en = <0>;
	lcd_cmap_en         = <0>;
	lcd_fsync_act_time  = <1000>;
	lcd_fsync_dis_time  = <1000>;

	deu_mode            = <0>;
	lcdgamma4iep        = <22>;
	smart_color         = <90>;

	pinctrl-0 = <&dsi4line_pins_a>;
	pinctrl-1 = <&dsi4line_pins_b>;
	lcd_gpio_0 = <&pio PG 13 GPIO_ACTIVE_HIGH>;
}; */
/*
&lcd0 {
	lcd_used            = <1>;

	lcd_driver_name     = "default_lcd";
	lcd_backlight       = <50>;
	lcd_if              = <0>;

	lcd_x               = <800>;
	lcd_y               = <480>;
	lcd_width           = <150>;
	lcd_height          = <94>;
	lcd_dclk_freq       = <48>;

	lcd_pwm_used        = <1>;
	lcd_pwm_ch          = <3>;
	lcd_pwm_freq        = <50000>;
	lcd_pwm_pol         = <1>;

	lcd_hbp             = <55>;
	lcd_ht              = <1240>;
	lcd_hspw            = <20>;
	lcd_vbp             = <35>;
	lcd_vt              = <650>;
	lcd_vspw            = <10>;

	lcd_lvds_if         = <0>;
	lcd_lvds_colordepth = <1>;
	lcd_lvds_mode       = <0>;
	lcd_frm             = <0>;
	lcd_io_phase        = <0x0000>;
	lcd_gamma_en        = <0>;
	lcd_bright_curve_en = <0>;
	lcd_cmap_en         = <0>;

	deu_mode            = <0>;
	lcdgamma4iep        = <22>;
	smart_color         = <90>;

	lcd_bl_en = <&pio PB 1 GPIO_ACTIVE_HIGH>;
	pinctrl-0 = <&rgb18_pins_a>;
	pinctrl-1 = <&rgb18_pins_b>;
}; */
/*
&lcd0 {
	lcd_used            = <1>;

	lcd_driver_name     = "default_lcd";
	lcd_backlight       = <50>;
	lcd_if              = <0>;

	lcd_x               = <1024>;
	lcd_y               = <600>;
	lcd_width           = <150>;
	lcd_height          = <94>;
	lcd_dclk_freq       = <48>;

	lcd_pwm_used        = <1>;
	lcd_pwm_ch          = <3>;
	lcd_pwm_freq        = <50000>;
	lcd_pwm_pol         = <0>;

	lcd_hbp             = <55>;
	lcd_ht              = <1240>;
	lcd_hspw            = <20>;
	lcd_vbp             = <35>;
	lcd_vt              = <650>;
	lcd_vspw            = <10>;

	lcd_lvds_if         = <0>;
	lcd_lvds_colordepth = <1>;
	lcd_lvds_mode       = <0>;
	lcd_frm             = <1>;
	lcd_io_phase        = <0x0000>;
	lcd_gamma_en        = <0>;
	lcd_bright_curve_en = <0>;
	lcd_cmap_en         = <0>;

	deu_mode            = <0>;
	lcdgamma4iep        = <22>;
	smart_color         = <90>;

	pinctrl-0 = <&rgb24_pins_a>;
	pinctrl-1 = <&rgb24_pins_b>;
}; */

&gpadc0 {
	channel_num = <2>;
	channel_select = <0x3>;
	channel_data_select = <0>;
	channel_compare_select = <0x1>;
	channel_cld_select = <0x1>;
	channel_chd_select = <0>;
	channel0_compare_lowdata = <1700000>;
	channel0_compare_higdata = <1200000>;
	channel1_compare_lowdata = <460000>;
	channel1_compare_higdata = <1200000>;
	wakeup-source;
	status = "okay";
	keyadc0 {
		key_cnt = <5>;
		key0_vol = <210>;
		key0_val = <115>;
		key1_vol = <410>;
		key1_val = <114>;
		key2_vol = <590>;
		key2_val = <119>;
		key3_vol = <750>;
		key3_val = <373>;
		key4_vol = <880>;
		key4_val = <28>;
	};
};


&soc {

	rfkill: rfkill@0 {
		compatible    = "allwinner,sunxi-rfkill";
		chip_en;
		power_en;
		pinctrl-0 = <&wlan_pins_a>;
		pinctrl-names = "default";
		status        = "okay";

		wlan: wlan@0 {
			compatible    = "allwinner,sunxi-wlan";
			clock = "32k-fanout1";
			clock-names = <&ccu CLK_FANOUT1_OUT>;
			wlan_power;
			wlan_power_vol;
			wlan_busnum   = <0x1>;
			wlan_regon    = <&pio PB 7 GPIO_ACTIVE_HIGH>;
			wlan_hostwake = <&pio PG 10 GPIO_ACTIVE_HIGH>;
			wakeup-source;
		};

		bt: bt@0 {
			compatible    = "allwinner,sunxi-bt";
			pinctrl-0 = <&wlan_pins_a>;
			pinctrl-names = "default";
			clock-names = "32k-fanout1";
			clocks = <&ccu CLK_FANOUT1_OUT>;
			/*bt_power_num = <0x01>;*/
			/*bt_power      = "axp803-dldo1";*/
			/*bt_io_regulator = "axp803-dldo1";*/
			/*bt_io_vol = <3300000>;*/
			/*bt_power_vol = <330000>;*/
			bt_rst_n      = <&pio PB 6 GPIO_ACTIVE_LOW>;
			status        = "okay";
		};
	};

	btlpm: btlpm@0 {
		compatible  = "allwinner,sunxi-btlpm";
		uart_index  = <0x1>;
		bt_wake     = <&pio PB 5 GPIO_ACTIVE_HIGH>;
		bt_hostwake = <&pio PB 4 GPIO_ACTIVE_HIGH>;
		status      = "okay";
	};

	addr_mgt: addr_mgt@0 {
		compatible     = "allwinner,sunxi-addr_mgt";
		type_addr_wifi = <0x0>;
		type_addr_bt   = <0x0>;
		type_addr_eth  = <0x0>;
		status         = "okay";
	};
};
